*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
}

@media (max-width: 600px) {
  body{
    overflow-x: hidden;
  }
}

*::-webkit-scrollbar{
  width: 6px;
  height: 8px;
  background-color: rgb(0, 19, 53);
}

*::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color: rgb(58, 150, 255);
}